._previewContainer_1g7vc_1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

._docxPreviewInstance_1g7vc_10 {
  border-radius: 8px;
  width: 816px;
  flex-shrink: 0;
}

._docxScrollWrapper_1g7vc_16 {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  scrollbar-color: var(--wb-scrollbar-thumb) transparent;
}

._loadingContainer_1g7vc_26,
._errorContainer_1g7vc_27 {
  align-self: center;
  color: var(--wb-color-text-primary);
  font-size: 14px;
  z-index: 10;
  padding: 16px 24px;
  background-color: var(--wb-bg-primary);
  border-radius: 8px;
}

._errorContainer_1g7vc_27 {
  color: var(--wb-error-foreground);
}

.docx-preview-wrapper {
  padding: 0 !important;
  background: transparent !important;
}
.docx-preview-wrapper > section.docx {
  padding: 20px !important;
  box-sizing: border-box !important;
  box-shadow: none !important;
}