._fixIconSize_15q4h_1::before {
  flex-shrink: 0;
}
#cell-oversize {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
}
#cell-oversize .cell-oversize-container {
  height: 100%;
  width: 100%;
  background: var(--bg-white-desktop-2, #FFF);
  line-height: 140%;
  font-style: normal;
}
#cell-oversize .cell-oversize-container .cell-oversize-wrapper {
  text-align: center;
  padding: 140px var(--space-large-l, 32px) 0 var(--space-large-l, 32px);
}
#cell-oversize .cell-oversize-container .cell-oversize-wrapper img {
  width: 72px;
  height: 72px;
  margin-bottom: var(--space-large-s, 24px);
}
#cell-oversize .cell-oversize-container .cell-oversize-wrapper h1 {
  color: var(--base_gray_100, #10141A);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: var(--space-medium-m, 12px);
}
#cell-oversize .cell-oversize-container .cell-oversize-wrapper p {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  color: var(--base-gray-060, rgba(11, 18, 26, 0.6));
}
